<mat-card cdkDrag class="example-card">
  <div class="draggable-item"></div>
  <mat-card-title>{{post.title | capitalize}}</mat-card-title>
  <mat-card-subtitle *ngIf="autor">
    Published by
    <b (click)="visitAutor()">{{autor.name}}</b>
    @{{autor.company.name}}
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      {{post.body | capitalize}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <app-comments [postId]="post.id"></app-comments>
  </mat-card-actions>
</mat-card>
